
body{
	    margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
		height: 100%;
		box-sizing: border-box;
	}

.bgimg {
  /*background-image: url(../images/bg1.jpg);*/
   background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/bg1.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100vh;
  /*filter: brightness(40%);*/
  
}

#header
{
	background:none;
	color:black;
	height:100px;	
}

.logo
{
	float:left;
	margin:1%;
	margin-top: 30px;
}

.logo a{
	color: white;
	text-decoration:none;
	font-size: 30px;
	padding: 15px;

}

.menu
{
	float: right;

}

.menu ul
{
	list-style-type:none;
}
.menu ul li
{
	display:inline-block;
	padding:15px;
	margin:15px 20px 0px 20px;
	text-transform:uppercase;
}
.menu ul li a
{
	color:white;
	text-decoration:none;
	
}
.menu ul li a:hover
{
	background:grey;
	color: white;
}

.inner h1{
	   font-size:45px;
		padding:0px;
		text-align: center;
		margin-top: 150px;
		color: white;
}

.inner p{
	/*margin-top:100px;*/
		padding:0px;
		text-align: center;
		font-style: bold;
		font-size: 30px;
		color: white;
		
}

.inner button
{
	margin-left: 700px;
	height:52px;
	width: 150px;
	background:#278dd2;
	border-radius: 5px;
	border-style: none;
}

.inner button a
{
	color: white;
	text-decoration:none;
	font-size: 20px;
}
.inner button:hover
{
	background:#3498DB
}

.col2 p{
	color: black;
	font-size: 15px;
}

.col2 button, .col12 button{
	height:52px;
	width: 150px;
	background:#278dd2;
	border-radius: 5px;
	border-style: none;
}

.col2 button:hover, .col12 button:hover
{
	background:#3498DB
}

.col_1 button:hover{
	opacity: 0.7;
}

.col_1 button{
	height:52px;
	width: 150px;
	background:white;
	border-radius: 5px;
	border-style: none;
}

.col2 button a, .col_1 button a, .col12 button a{
	color: white;
	text-decoration:none;
	font-size: 20px;
}

.col_1 button a{
	color:#278dd2;
	text-decoration:none;
	font-size: 20px;
}

.col2 h3{
	font-size: 20px;
}

.imageroundfit img{
	border-radius: 50%;
	height:38%;
	width:48%;
	margin-top: 80px;
	margin-left: 180px;
	border: 2px solid #4A49FF;
}

.col2 p
{
	width:81%;
	display:inline-block;
	text-align: left;
	font-size: 20px;
	float: right;
	margin-right:180px;
	color: grey; 
}

.col2 h3{
	font-size: 30px;
	margin-right: 180px;
}

.col2 button{
     margin-right: 50px;
}
.col1{
	width: 45%;
	float: left;

}
.col2{
	width: 55%;
	float: right;
}

.wrapperstyle1:after {
  content: "";
  display: table;
  clear: both;
}
.col_1 p{
	width:81%;
	display:inline-block;
	text-align: left;
	font-size: 20px;
	float: left;
	margin-left:180px; 
	color: white;

}
.col_1 h3{
	font-size: 30px;
	margin-left: 180px;
	color: white;
}

.col_2{
	width: 45%;
	float: right;

}
.col_1{
	width: 55%;
	float: left;
}

.col_1 button{
	margin-left: 200px;
}
.wrapperstyle2 {
	margin-top: 40px;
	background-color:#3498DB;
	position: absolute;
	padding: 15px;

}

.wrastyle1{
	margin-top: 600px;
	background-color: #FAFAFA;
}

.align-center_h h2,p{
	text-align: center;
}

.align-center_h p{
	font-size: 25px;
	color: grey;
}

.align-center_h h2{
	font-size: 30px;
}

.col12{
 display:inline-block;
	width:31%;
	text-align:center;
	padding:10px;
}


.imageroundfit1 img{
	border-radius: 50%;
	border: 2px solid grey;
	height:58%;
	width:68%;
	margin-left: 60px;
}


.col12 p{
	width: 80%;
	color: grey;
	font-size: 20px;
	margin-left: 60px;
}

#footer
{
	margin-top: 80px;
}
.copyright p,a{
	color: grey;
	padding: 5px;

}

.copyright ul
{
	list-style-type:none;
	padding: 10px;
	text-align: center;
}
.copyright ul li
{
	display:inline-block;
	padding: 5px;
	font-size: 50px;
}

.copyright ul li a i
{
    color: grey;
	text-decoration:none;	
}

.copyright ul li a:hover{
	opacity: 0.7;
}
